{% extends 'base.html' %}
{% load i18n %}
{% load allauth account %}

{% block head_title %}
  {% trans 'Sign In' %}
{% endblock %}

{% block content %}
  <div class="min-h-screen flex bg-gray-100 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <h1 class="mt-6 text-center text-3xl font-extrabold text-gray-900">{% trans 'Sign In' %}</h1>
        {% if not SOCIALACCOUNT_ONLY %}
          <p class="mt-2 text-center text-sm text-gray-600">
            {% blocktranslate %}If you have not created an account yet, then please <a href="{{ signup_url }}" class="font-medium text-indigo-600 hover:text-indigo-500">sign up</a> first.{% endblocktranslate %}
          </p>
        {% endif %}
      </div>
      <form class="mt-8 space-y-6" method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        <input type="hidden" name="redirect_field_name" value="{{ redirect_field }}" />
        <div class="rounded-md shadow-sm -space-y-px">
          {% for field in form %}
            <div>{{ field.label_tag }}
              {{ field }}
              {{ field.errors }}</div>
          {% endfor %}
        </div>
        <div>
          <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">{% trans 'Sign In' %}</button>
        </div>
      </form>
      {% if LOGIN_BY_CODE_ENABLED %}
        <div class="mt-6">
          <hr class="border-t border-gray-200" />
          <h2 class="mt-6 text-center text-xl font-bold text-gray-900">{% trans 'Or' %}</h2>
          <div class="mt-2">
            <a href="{{ request_login_code_url }}" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-indigo-700 bg-white hover:bg-indigo-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">{% trans 'Mail me a sign-in code' %}</a>
          </div>
        </div>
      {% endif %}
      {% if SOCIALACCOUNT_ENABLED %}
        <div class="mt-6">
          {% include 'socialaccount/snippets/login.html' with page_layout='entrance' %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
