{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Default Title in here {% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
  </head>
  <body>
    <!-- component -->
<div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-50 text-gray-800">
  <div class="flex">
    <!-- Sidebar -->
    <div class="fixed flex flex-col top-0 left-0 w-64 bg-white h-full border-r">
      <div class="flex items-center justify-center h-14 border-b">
        <div>TIL</div>
      </div>
      {% if user.is_authenticated %}
        <p class="ml-2 text-sm text-center tracking-wide truncate">Logged in as {{ request.user.username }}!</p>
        {% if total_follows > 0 %}
        <p class="ml-2 text-sm text-center tracking-wide truncate">You are following {{ total_follows|default:"0" }} author(s)!</p>
        {% else %}
        <p class="ml-2 text-sm text-center tracking-wide truncate">You are following no author!</p>
        {% endif %}
         
          {% comment %} {% if total_follows == "0" %}
          <p class="ml-2 text-sm text-center tracking-wide truncate">You are following no author!</p>
          {% else %}
          <p class="ml-2 text-sm text-center tracking-wide truncate">You are following {{ total_follows }} author(s)!</p>
          {% endif %} {% endcomment %}

      {% else %}
        <p class="ml-2 text-center text-sm tracking-wide truncate">Hello, Guest!</p>
      {% endif %}
      <div class="overflow-y-auto overflow-x-hidden flex-grow">
        <ul class="flex flex-col py-4 space-y-1">
          <!-- Menu Items -->
          <li class="px-5">
            <div class="flex flex-row items-center h-8">
              <div class="text-sm font-light tracking-wide text-gray-500">Menu</div>
            </div>
          </li>
          <li>
            <a href="/" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
              <span class="inline-flex justify-center items-center ml-4">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                </svg>
              </span>
              <span class="ml-2 text-sm tracking-wide truncate">Dashboard</span>
            </a>
          </li>
          <!-- More Menu Items -->
          {% if request.user.is_authenticated %}
            <li>
              <a href="{% url 'feed:new_post' %}" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6 js-toggle-modal">
                <span class="inline-flex justify-center items-center ml-4">
                  <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />                  </svg>
                </span>
                <span class="ml-2 text-sm tracking-wide truncate">New Post</span>
              </a>
            </li>
            <li>
            <li>
            <a href="{% url 'account_logout' %}" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
              <span class="inline-flex justify-center items-center ml-4">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h12m-6-6l6 6-6 6M3 6v12" />
                </svg>
              </span>
              <span class="ml-2 text-sm tracking-wide truncate">Logout</span>
            </a>
            </li>
          {% else %}
            <a href="{% url 'account_login' %}" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
              <span class="inline-flex justify-center items-center ml-4">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H3m6-6l-6 6 6 6M21 6v12" />
                </svg>
              </span>
              <span class="ml-2 text-sm tracking-wide truncate">Login</span>
            </a>
          {% endif %}
        </ul>
      </div>
    </div>
    <!-- Content Area -->
    <div class="flex-grow ml-64 p-6">
    
      {% block body %} {% block content %} {% endblock content %}{% endblock body %}
    </div>
  </div>
{% if request.user.is_authenticated %} 
          <!-- component -->
            <div class="bg-gray-900 flex items-center justify-center left-0 bottom-0 w-full h-full bg-opacity-90 js-modal hidden">
                <div x-data="{ showModal: true }">
                    <!-- Trigger button -->
                    <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-300">
                        Create New Project
                    </button>

                    <!-- Modal -->
                    <div x-show="showModal" class="fixed inset-0 flex items-center justify-center z-50">
                        <div class="bg-white rounded-lg p-6 w-96 max-w-full shadow-lg transform transition-all duration-300" x-show.transition.opacity="showModal">
                            <!-- Modal Header -->
                            <div class="flex justify-between items-center border-b-2 border-gray-200 pb-4">
                                <h2 class="text-2xl font-semibold">New Post</h2>
                                <button class="text-gray-500 hover:text-gray-700 focus:outline-none js-submit" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x js-toggle-modal">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </button>
                            </div>
                            
                            <!-- Modal Content -->
                            <div class="mt-6 space-y-4">
                                <div class="text-lg text-gray-600">
                                  <textarea class="border-2 border-blue-500 my-4 w-full js-post-text" rows="3" placeholder="Enter your post here" maxlength="240" data-post-url="{% url 'feed:new_post' %}"></textarea>
                                </div>
                                <div class="flex flex-col space-y-4">
                                    <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-300 js-submit">Create Post</button>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
                <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>

                        </div>
                    </div>
                </div>
            </div>
                <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
            </div>
  {% endif %}


<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script src="{% static 'js/main.js' %}"></script>
    
  </body>
</html>
